img{
width: 25%;
height: 25%;
margin: 15px;
}

p{
    text-align: justify;
    display: flex;
}

#titulo{
    justify-content: center;
    display: flex;
}

#video{
    border-radius: 15px;
   
}
   